.Landing {
  margin-top: 3em;
  display: grid;
  justify-content: center;
  align-items: center;
}

.day {
  border: 2px solid black;
  height: 80px;
  width: 300px;
  margin: 10px;
}

.details {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: right;
}