.Landing {
  margin-top: 3em;
  display: grid;
  justify-content: center;
  align-items: center;
}

.day {
  border: 2px solid black;
  height: 80px;
  width: 300px;
  margin: 10px;
  background: linear-gradient(to right, #75f4f4 0%, #d17b88 100%);
}

.details {
  height: 50%;
  width: 50%;
}