.feelingToday {
  font-family: 'Barlow', sans-serif;
  font-size: 5vmin;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  /* margin: 40px 100px 100px 100px; */
  /* padding: 20px; */
  background-color: #09d3ac;
}

#moods {
  font-family: 'Assistant', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  margin: 30px;
}

element.style {
  height: 100%
}

/* .App-logo {
  height: 40vmin;
  margin: 30px;
}

.App-header {
  font-family: 'Barlow', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}

.App-link {
  color: #09d3ac;
} */


.App {
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.btnHome{
  font-family: 'Assistant', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  color: white;
}

.btnTheme {
  font-family: 'Assistant', sans-serif;
  font-size: 6vmin;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 20px;
  margin-top: 300px;
  padding: 10px;
}


