h2 {
  text-align: center;
}

img {
  width: 20vmin;
  margin-top: 10px;
  margin-bottom: 10px;

}

button .btn {
  width: 100px;
}

button {
  background-color: transparent;
  border: 0 transparent solid;
  border-radius: 25px;
}

h3 {
  font-size: 4vmin;
  margin: 0;
}

.themeSelections1, .themeSelections2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.back {
  width: 50px;
  height: 50px;
}