img {
  width: 20vmin;
  margin-top: 30px;
}

button .btn {
  width: 100px;
}

button {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0 transparent solid;
}

h3 {
  font-size: 4vmin;
  margin: .5vmin;
}

.themeSelections1, .themeSelections2 {
  display: flex;
  justify-content: space-evenly;
}


