@media (min-width: 300px) {
    a {
        text-decoration: none;
    }

    .appIcon_first {
        width: 12%;
        height: 12%;
        margin: 10px 10px 10px 30px;
    }

    .appIcon_last {
        width: 12%;
        height: 12%;
        margin: 10px 20px 10px 10px;
    }

    .appIcon {
        width: 12%;
        height: 12%;
        margin: 10px;
    }

    .appIconCenter {
        width: 16%;
        height: 16%;
        background-color: white;
        border-radius: 50%;
    }
    }