a {
    text-decoration: none;
}

.NavBarBtm {    
    display: inline;
    justify-content: center;
    text-align: center;
}

.appIcon {
    width: 5%;
    height: 5%;
    margin: 10px;
}

.appIconCenter {
    width: 8%;
    height: 8%;
    margin: 0 10px 10px 10px;
    padding-bottom: 15px;
}