@media (min-width: 300px) {
    a {
        text-decoration: none;
    }

    .appIcon_first {
        width: 10%;
        height: 10%;
        margin: 10px 10px 10px 50px;
    }

    .appIcon_last {
        width: 10%;
        height: 10%;
        margin: 10px 20px 10px 10px;
    }

    .appIcon {
        width: 10%;
        height: 10%;
        margin: 10px;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .appIconCenter {
        width: 16%;
        height: 16%;
        background-color: white;
        border-radius: 50%;
    }

}
