img {
  width: 20vmin;
  margin-top: 30px;
}

button .btn {
  width: 100px;
  background-color: none;
}

button {
  display: inline;
}

h3 {
  font-size: 4vmin;
  margin: .5vmin;
}

.themeSelections1, .themeSelections2 {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 100px;
}

