.signUpForm {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.themeSelections1, .themeSelections2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  margin: 5px;
}
