.form-horizontal {
  display: grid;
  justify-content: center;
  align-items: center;
}

.form-control {
  border: .5px solid lightgray;
}

/* Larger than mobile */
@media (max-width: 549px) {
  .signUp {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .chooseTheme{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

div.preview {
  border: 1px solid darkgray;
  height: 120px;
  width: 100px;
  margin-left: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.preview-nav {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.preview-text {
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px
}

img.preview-img {
  height: 20px;
  width: 20px;
}

div.preview-btm-nav {
  align-self: center;
  /* margin-top: 20px; */
  height: 30px;
  width: 100px;
  margin-bottom: 20px;
}

div button-group {
  margin: 0px;
}


/* Larger than phablet */
@media (min-width: 550px) {
  .signUpForm {
    text-align: center;
  }

  .signUp {
    display: flex;
    margin-left: 30px;
  }

  .formHeader {
    margin-bottom: 10px; 
    margin-top: 10px;
  }

  img.themeColor {
    width: 70px;
    height: 70px;
  }

  .chooseTheme{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chooseATheme {
    margin-left: 100px;
    margin-top: 50px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


