  body {
    background-color: #ffffff;
  }

  .homePage{
    text-align: center;
  }

  .authBtn {
    margin-top: 40px;
    display: inline-flex;
  }

  .btnSignIn, .btnSignUp {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    background-color: #b8b3e9;
    color: white;
    padding: 15px;
    height: calc(35px + 25* ((100vw - 300px) / (1300)));
    width: auto;
  }

  .btnSignUp {
    margin-left: .75em;
  }

  Link {
    color: black;
  }