.logoMM {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logoImage {
  height: calc(100px + (350 - 100) * ((100vw - 300px) / (1600 - 300)));
  width: calc(100px + (350 - 100) * ((100vw - 300px) / (1600 - 300)));
  margin-top: 60px;
  margin-left: 55px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.logoName {
  font-family: 'Barlow', sans-serif;
  font-size: calc(28px + (50 - 28) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: .15em;
}

.logoTagline {
  font-family: 'Assistant', sans-serif;
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 1px;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2em;
}